.statistics {
  width: 100%;
  background-color: var(--secondary-color);
  padding-top: 5rem;
  padding-bottom: 3rem;
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      font-size: 48px;
      font-weight: 400;
      color: white;
      @media (max-width: 550px) {
        font-size: 32px;
      }
      span {
        font-weight: 800;
      }
    }
    &_stats {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      &_stat {
        width: calc(100% / 4 - 1rem);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 250px;
        height: 200px;
        color: white;
        p {
          font-size: 20px;
        }
        &_stats{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
            margin-top: 3rem;
            &_stat{
                position: relative;
                width: calc(100% / 4 - 1rem);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                min-width: 250px;
                height: 200px;
                color: white;
                p{
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 16px;
                    backdrop-filter: blur(3px) brightness(75%);
                }
                h1{
                    font-size: 82px;
                    font-weight: 800;
                    color: white;
                    // span.plusIcon{
                    //     position: absolute;
                    //     color: white;
                    //     transform: translate(-50%, -50%);
                    //     font-size: 46px;
                    //     font-weight: 400;
                    // }
                }
            }
        }
      }
    }
  }
}
